body {
  font-size: 16px;
  font-family: -apple-system;
  font-family: 'proxima-nova', '-apple-system', 'Helvetica Neue', sans-serif;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
